<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_fcloth</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>品牌女装</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50025145</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>连衣裙</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025258</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>半身裙</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>蕾丝衫 雪纺衫</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025783</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>针织衫</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025227,50100707,50100708,50100709,50100710,50100711,50025272,50074135,50074136,50074144,50074145,50074154,50074164,50074176</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>裤子</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047160,50100556,50025789</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>外套</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025152,50074134,50074143,50074152,50074161,50074171,50074823</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>内搭</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025825,50025806,50025837</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>特色服饰</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025821</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>婚纱礼服 旗袍</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025991,50025984,50025985</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>文胸 套装</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096891,50096896,50096898,50096897,50096894,50096895</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>睡衣 套装</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095662,50093879</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>袜子</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_mcloth</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>精品男装</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026329,50026333,50037919,50037918,50037917,50026337</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>外套</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50105438,50105579</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>T恤 </string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50105599,50105580,50071526,50076814,50037921,50071478,50071479,50071512,50071513,50044708,50074180</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>衬衫</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026268,50071519,50071549</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>针织衫 毛衣</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026263,50071548,50071484,50074188</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>卫衣</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026245,50026259,50074113</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>裤子</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50074112,50076820,50071490,50071520,50074186</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>西服 </string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50076793,50100133,50026270,50100135,50076794</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>特色服装</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50071477</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>设计潮牌</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50100128</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>中老年男装</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_digital</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>手机数码</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50024400</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>手机</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024402</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>数码相机</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024399</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>笔记本电脑</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047396</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>整机外设</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50047403</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>平板电脑</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024406</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>电脑硬件</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024439</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>MP3 MP4</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024407</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>3C数码</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50099233</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>U盘存储</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024410</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>办公设备</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50094901</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>电子词典</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_bag</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>鞋、箱包</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026637</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>流行男鞋</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025829</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>时尚女鞋</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036330,50036262,50037250</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>单鞋</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50040639</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>凉鞋</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50027126,50036263</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>高帮鞋</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50076895,50106418,50106419,50106420</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>休闲男鞋</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50097934,50099860,50095656</string>
				<key>imageName</key>
				<string>bag7_female</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>女包</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095657</string>
				<key>imageName</key>
				<string>bag8_male</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>男包</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50097938</string>
				<key>imageName</key>
				<string>bag9_wallet</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>钱包卡套</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095658</string>
				<key>imageName</key>
				<string>bag10_travell</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>旅行箱包</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50072921,50072925</string>
				<key>imageName</key>
				<string>bag11_double</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>背包 双肩包</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025861</string>
				<key>imageName</key>
				<string>bag12_L</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>奢华箱包</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_cosmetic</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>美容护肤</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026502</string>
				<key>imageName</key>
				<string>cosmetic1_face</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>面部护肤</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029231</string>
				<key>imageName</key>
				<string>cosmetic2_mianmo</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>面膜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029232</string>
				<key>imageName</key>
				<string>cosmetic3_ruye</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>乳液 面霜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50031545</string>
				<key>imageName</key>
				<string>cosmetic4_eyes</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>眼部护理</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029230</string>
				<key>imageName</key>
				<string>cosmetic5_shuangfu</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>爽肤水</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026391</string>
				<key>imageName</key>
				<string>cosmetic6_caizhuang</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>时尚彩妆</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50031544</string>
				<key>imageName</key>
				<string>cosmetic7_mianbu</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>面部精华</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026505</string>
				<key>imageName</key>
				<string>cosmetic8_jinyou</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>精油芳疗</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026393</string>
				<key>imageName</key>
				<string>cosmetic9_perfume</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>香水</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026504</string>
				<key>imageName</key>
				<string>cosmetic10_body</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>身体护理</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026506</string>
				<key>imageName</key>
				<string>cosmetic11_men</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>男士护肤</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026426</string>
				<key>imageName</key>
				<string>cosmetic12_jiafa</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>假发 美容工具</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_baby</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>母婴用品</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50038235</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>奶粉</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024810</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>纸尿裤</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50023647</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>品质童装 </string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50020412,50103016,50102765</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>可爱童鞋 </string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50038365</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>牛初乳</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025137</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>辅食</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024803</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>母婴用品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024576</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>童车童床</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50021187</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>婴幼玩具</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036745</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>电动遥控</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50102872,50096156,50024574</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>防辐射服</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50102873</string>
				<key>imageName</key>
				<string>tmall_icon_cat_baby_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>孕产妇护肤</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_food</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>食品保健</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50099887</string>
				<key>imageName</key>
				<string>food1_drink</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>酒类制品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50100153,50100155</string>
				<key>imageName</key>
				<string>food2_cookie</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>糖巧饼干</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50100152,50100156</string>
				<key>imageName</key>
				<string>food3_meet</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>肉类即食</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50100166,50099298,50100167,50099300,50099299,50099681</string>
				<key>imageName</key>
				<string>food4_fruit</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>粮油生鲜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50099890,50099294,50099888</string>
				<key>imageName</key>
				<string>food5_tea</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>茶叶冲饮</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50100151,50100154</string>
				<key>imageName</key>
				<string>food6_honey</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>蜜饯炒货</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50099591</string>
				<key>imageName</key>
				<string>tmall_icon_cat_food_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>钙片</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50095512</string>
				<key>imageName</key>
				<string>tmall_icon_cat_food_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>维生素</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50099594</string>
				<key>imageName</key>
				<string>tmall_icon_cat_food_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>螺旋藻</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50072036</string>
				<key>imageName</key>
				<string>tmall_icon_cat_food_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>西洋参</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_jewelry</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>珠宝饰品</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026461</string>
				<key>imageName</key>
				<string>jewelry_shipin</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>饰品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025962</string>
				<key>imageName</key>
				<string>jewelry_watch</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>品牌手表</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026473</string>
				<key>imageName</key>
				<string>jewelry_zhubao</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>珠宝</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50023064</string>
				<key>imageName</key>
				<string>jewelry_glasses</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>眼镜 瑞士军刀</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026462</string>
				<key>imageName</key>
				<string>jewelry_xianglian</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>项链 项坠</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026463</string>
				<key>imageName</key>
				<string>jewelry_handring</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>手链 手镯</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026464</string>
				<key>imageName</key>
				<string>jewelry_ring</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>戒指</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026465</string>
				<key>imageName</key>
				<string>jewelry_ershi</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>耳饰</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026477</string>
				<key>imageName</key>
				<string>jewelry_gold</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>黄金</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026474</string>
				<key>imageName</key>
				<string>jewelry_diamond</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>钻石</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50074352</string>
				<key>imageName</key>
				<string>jewelry_zippo</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>ZIPPO 芝宝</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50041288</string>
				<key>imageName</key>
				<string>jewelry_sun_glasses</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>太阳眼镜</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_life</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>居家生活</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50096321,50024921,50024935,50025202</string>
				<key>imageName</key>
				<string>home1_bed</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>床上用品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50106387,50096321,50096299,50036377,50102082</string>
				<key>imageName</key>
				<string>home2_four</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>四件套</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50045520,50097121,50024926,50096363</string>
				<key>imageName</key>
				<string>home3_beizi</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>蚕丝被</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50067928</string>
				<key>imageName</key>
				<string>home4_buyi</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>布艺软饰</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50067926</string>
				<key>imageName</key>
				<string>home5_shipin</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>家居饰品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50067927,50101214</string>
				<key>imageName</key>
				<string>home6_tese</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>特色手工艺</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036640</string>
				<key>imageName</key>
				<string>home7_chufang</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>厨房用品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50072436,50071786,50071816,50026018,50102458,50071821,50071813,50071815,50071819,50102457,50071831,50071829,50071834,50096740,50096937,50025226,50098310,50101215</string>
				<key>imageName</key>
				<string>home8_clean</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>清洁收纳</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036568</string>
				<key>imageName</key>
				<string>home9_jujia</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>居家日用</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50043479</string>
				<key>imageName</key>
				<string>home10_wash</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>个人洗护</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50037588,50070319,50030399,50034955,50034368,50034430,50034507,50043523,50093773,50043524,50034496,50034381,50034499,50034500,50097205,50097215,50097214,50097213,50105442,50022363,50022351,50044336,50068272,50095758,50096049,50101129</string>
				<key>imageName</key>
				<string>home11_pet</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>宠物用品</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_car</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>汽车配件</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50043491,50106135</string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>全新整车</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029838</string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>精品内饰</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029840,50043907,50070329,50035354,50022411,50037617 </string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>外饰装潢</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50074543</string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>骑士装备</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029836,50030081,50069777,50069779,50101150</string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>GPS导航</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50030095,50030098,50030092,50030101,50030103,50030093,50030106,50070349,50070350,50070354,50030057,50076261,50106000 </string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>车载电器</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029851</string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>车载影音</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50070366,50029847,50035392,50030122</string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>清洁美容</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50070386,50035403,50076263</string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>保养用品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50029835 </string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>配件改装</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50099587,50068745,50068752,50068753,50068754,50068755,50068756</string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>维修工具</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50069267</string>
				<key>imageName</key>
				<string>tmall_icon_cat_car_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>车辆防盗</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_outing</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>运动户外</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50020909,</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>运动鞋</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50101393,50101396,50101399,50101400,50101369,50101372,50101373,50101374,50101375</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>运动服</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50043669,50105005,50105006,50105007,50105008,50074956,50074957,50074958,50022358,50025635,50044285,50095741,50095750,50096037,50102689</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>运动 瑜伽健身</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50023743,50101198</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>跑步鞋</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50023744,50101196</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>篮球鞋</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50031442,50031443</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>运动外套</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50104412</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>跑步机</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50106524,50105011,50106525,50106478,50106479,50074959,50098344,50098345,50101152,50103404</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>泳衣</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50105969,50105916,50031407,50031427,50031426,50031431,50105983</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_9</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>户外鞋袜</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50105900,50102361</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>户外服装</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50096745,50023775,50105917,50105928,50096869,50105925,50105918,50106378</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_11</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>户外装备</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50022787</string>
				<key>imageName</key>
				<string>tmall_icon_cat_outing_12</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>登山 野营旅行</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_electrical</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>家用电器</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50026437,50102570,50026527,50026596</string>
				<key>imageName</key>
				<string>tmall_icon_cat_electrical_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>影音电器</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50065128,50100549</string>
				<key>imageName</key>
				<string>tmall_icon_cat_electrical_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>大家电</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026440</string>
				<key>imageName</key>
				<string>tmall_icon_cat_electrical_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>生活电器</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50026439</string>
				<key>imageName</key>
				<string>tmall_icon_cat_electrical_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>厨房电器</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50025047,50032858</string>
				<key>imageName</key>
				<string>tmall_icon_cat_electrical_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>个人护理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_furniture</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>家具建材</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50024921,50024935,50025202,50025203,50025001,50102865,50024669,50024762,50034882,50034879,50045512,50045518,50096321,</string>
				<key>imageName</key>
				<string>tmall_icon_cat_furniture_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>床品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50030801,50036140,50067221</string>
				<key>imageName</key>
				<string>tmall_icon_cat_furniture_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>桌几</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036186,50036070</string>
				<key>imageName</key>
				<string>tmall_icon_cat_furniture_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>椅凳塌</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50067174,50036146,50036087,50036183,50036184,50036175,50030880,5003604,50096389,50096410,50025201,5003644,50071153,50034413,50094653,5009467,50096258,50096259,50096267,5010112,50106504</string>
				<key>imageName</key>
				<string>tmall_icon_cat_furniture_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>沙发</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036140,50036112,50025237,50030787</string>
				<key>imageName</key>
				<string>tmall_icon_cat_furniture_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>办公家具</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50030789,50067206</string>
				<key>imageName</key>
				<string>tmall_icon_cat_furniture_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>柜类</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50036118,</string>
				<key>imageName</key>
				<string>tmall_icon_cat_furniture_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>架类</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50067235,50036077,50036024,50030800,50030802,50036057,50096309</string>
				<key>imageName</key>
				<string>tmall_icon_cat_furniture_8</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>其他</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50030207</string>
				<key>imageName</key>
				<string>jiaju9_chuwei</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>厨卫装修</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50051691</string>
				<key>imageName</key>
				<string>tmall_icon_cat_furniture_10</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>灯饰照明</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50067923</string>
				<key>imageName</key>
				<string>jiaju11_diangong</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>电工基建</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50030212</string>
				<key>imageName</key>
				<string>jiaju12_qiang</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>墙地面材料</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_culture</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>文化娱乐</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>classID</key>
				<string>50045004</string>
				<key>imageName</key>
				<string>tmall_icon_cat_culture_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>餐饮美食</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50044968,50101897</string>
				<key>imageName</key>
				<string>tmall_icon_cat_culture_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>摄影写真</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50102362,50025048,50044335 </string>
				<key>imageName</key>
				<string>tmall_icon_cat_culture_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>美容美发</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50075010,50075011,50044919</string>
				<key>imageName</key>
				<string>tmall_icon_cat_culture_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>电影票</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50044950,50075013,50075015 </string>
				<key>imageName</key>
				<string>tmall_icon_cat_culture_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>体育赛事</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50021913</string>
				<key>imageName</key>
				<string>tmall_icon_cat_culture_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>图书杂志</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50021872</string>
				<key>imageName</key>
				<string>tmall_icon_cat_culture_7</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>音像制品</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50024897,50024899</string>
				<key>imageName</key>
				<string>wenhua8_flower</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>鲜花速递</string>
			</dict>
			<dict>
				<key>classID</key>
				<string>50097683,50037753,50037761</string>
				<key>imageName</key>
				<string>wenhua9_gexing</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>个性定制</string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
			</dict>
			<dict>
				<key>classID</key>
				<string></string>
				<key>imageName</key>
				<string></string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
